<h2>Contacts</h2>

<div class="row">
  {{#each model as |contact|}}
    <div class="col-md-4">
      <div class="panel panel-default library-item">
        <div class="panel-heading">
          <h3 class="panel-title">{{contact.id}}</h3>
        </div>
        <div class="panel-body">
          <p>Address: {{contact.email}}</p>
          <p>Phone: {{contact.message}}</p>
        </div>
        <div class="panel-footer text-right">
          {{#link-to 'contacts.edit' contact.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
