<h2>Invitations</h2>
<div class="row">
  {{#each model as |invitation|}}
    <div class="col-md-4">
      <div class="panel panel-default library-item">
        <div class="panel-heading">
          <h3 class="panel-title">{{invitation.id}}</h3>
        </div>
        <div class="panel-body">
          <p>E-mail: {{invitation.email}}</p>
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-danger btn-xs" {{action 'deleteInvitation' invitation}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
