<h2>Edit Contact</h2>

<form class="form-horizontal">
  <div class="form-group {{if model.validEmail 'has-success' 'has-error'}}">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      {{input type="email" class="form-control" id="inputEmail3" placeholder="Email" value=model.email}}
    </div>
  </div>
  <div class="form-group {{if model.validMessage 'has-success' 'has-error'}}">
    <label for="textArea3" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-10">
      {{textarea class="form-control" id="textArea3" placeholder="Your message. (At least 5 characters.)" rows="7" value=model.message}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" disabled={{model.isDisabled}} {{action 'saveAction' model}}>Send</button>
    </div>
  </div>
</form>
